In [2]:
import os
import sys
import pepdata
sys.path.append(os.path.split(os.getcwd())[0])
import pandas as pd
import numpy as np

In [3]:
from pan_allele.helpers.pan_allele_data_helpers import *

Couldn't import dot_parser, loading of dot files will not be possible.

In [6]:
df = pepdata.iedb.mhc.load_dataframe(mhc_class=2, )

In [7]:
list(df.columns)

[(u'Reference', u'MHC ligand ID'),
 (u'Reference', u'Reference ID'),
 (u'Reference', u'Type'),
 (u'Reference', u'PubMed ID'),
 (u'Reference', u'Authors'),
 (u'Reference', u'Journal'),
 (u'Reference', u'Date'),
 (u'Reference', u'Title'),
 (u'Reference', u'Submission ID'),
 (u'Epitope', u'Epitope ID'),
 (u'Epitope', u'Object Type'),
 (u'Epitope', u'Description'),
 (u'Epitope', u'Starting Position'),
 (u'Epitope', u'Ending Position'),
 (u'Epitope', u'Non-peptidic epitope ChEBI ID'),
 (u'Epitope', u'Antigen Name'),
 (u'Epitope', u'Antigen ID'),
 (u'Epitope', u'Organism Name'),
 (u'Epitope', u'Organism ID'),
 (u'Epitope', u'Epitope Comments'),
 (u'Epitope', u'Related Object Type'),
 (u'Host', u'Name'),
 (u'Host', u'Host ID'),
 (u'Host', u'Geolocation'),
 (u'In vivo Process', u'Process Type'),
 (u'In vivo Process', u'Disease State'),
 (u'In vivo Process', u'Disease Code'),
 (u'In vivo Process', u'Disease Stage'),
 (u'In vivo Process', u'Processed Antigen Epitope Relation'),
 (u'In vivo Process', u'Processed Antigen Object Type'),
 (u'In vivo Process', u'Processed Antigen Description'),
 (u'In vivo Process', u'Processed Antigen Ending Position'),
 (u'In vivo Process', u'Non-peptidic Processed Antigen ChEBI ID'),
 (u'In vivo Process', u'Processed Antigen Source Molecule Name'),
 (u'In vivo Process', u'Processed Antigen Source Molecule ID'),
 (u'In vivo Process', u'Processed Antigen Organism Name'),
 (u'In vivo Process', u'Processed Antigen Organism ID'),
 (u'In vitro Process', u'In vitro administration type'),
 (u'In vitro Process', u'Processed Antigen Epitope Relation'),
 (u'In vitro Process', u'Processed Antigen Object Type'),
 (u'In vitro Process', u'Processed Antigen Description'),
 (u'In vitro Process', u'Processed Antigen Starting Position'),
 (u'In vitro Process', u'Processed Antigen Ending Position'),
 (u'In vitro Process', u'Processed Antigen Source Molecule Name'),
 (u'In vitro Process', u'Processed Antigen Source Molecule ID'),
 (u'In vitro Process', u'Processed Antigen Organism Name'),
 (u'In vitro Process', u'Processed Antigen Organism ID'),
 (u'Processed Antigen Comments', u'Processed Antigen Comments'),
 (u'Assay', u'Method/Technique'),
 (u'Assay', u'Assay Group'),
 (u'Assay', u'Units'),
 (u'Assay', u'Assay Type ID'),
 (u'Assay', u'Qualitative Measure'),
 (u'Assay', u'Quantitative measurement'),
 (u'Assay', u'Number of Subjects Tested'),
 (u'Assay', u'Number of Subjects Responded'),
 (u'Assay', u'Response Frequency'),
 (u'Assay', u'3D complex ID'),
 (u'Antigen Processing Cells', u'Cell Tissue Type'),
 (u'Antigen Processing Cells', u'Cell Type'),
 (u'Antigen Processing Cells', u'Cell Culture Conditions'),
 (u'MHC', u'Allele Name'),
 (u'MHC', u'MHC Allele ID'),
 (u'MHC', u'MHC allele class'),
 (u'Assay Comments', u'Assay Comments')]

#Write dataframe to Data file

####with species, mhc_allele, peptide_length, cv, seuquence, inequality, and binding strength

In [10]:
def get_file_from_df(df):
    new_df = pd.DataFrame(columns=('species','mhc','peptide_length','cv','sequence','inequality','meas'))
    new_df['peptide_length'] = df.Epitope.Description.str.len()
    new_df['mhc'] = df.MHC['Allele Name']
    new_df['species'] = "human"
    new_df['sequence'] = df.Epitope['Description']
    new_df['meas'] = df.Assay['Quantitative measurement']
    new_df['cv']="TDB"
    new_df['inequality']="="
    new_df = new_df.dropna()
    
    return new_df

In [14]:
df_date = df[df.Reference.Date <= 2015]
new_df = get_file_from_df(df_date)
new_df.to_csv('bdata.classii.2015.csv', sep='\t', nanRep=None, index=False)
new_df

,species,mhc,peptide_length,cv,sequence,inequality,meas
71,human,HLA-DR1,14,TDB,SEFAYGSFVRTVSL,=,4600
72,human,HLA-DR15,14,TDB,SEFAYGSFVRTVSL,=,7100
73,human,HLA-DR11,14,TDB,SEFAYGSFVRTVSL,=,5100
74,human,HLA-DR13,14,TDB,SEFAYGSFVRTVSL,=,2000
75,human,HLA-DR7,14,TDB,SEFAYGSFVRTVSL,=,6100
160,human,HLA-DRB1*15:01,15,TDB,EKAKYEAYKAAAAAA,=,18
161,human,HLA-DRB1*15:01,15,TDB,EKPKYEAYKAAAAPA,=,14
162,human,HLA-DRB1*15:01,15,TDB,EKPKFEAYKAAAAPA,=,26
163,human,HLA-DRB1*15:01,15,TDB,EKAKEEAYKAAAAAA,=,0
164,human,HLA-DRB1*15:01,15,TDB,EKPKEEAFKAAAAPA,=,0
165,human,HLA-DRB1*15:01,15,TDB,EKAKFEAFKAAAAAA,=,19
166,human,HLA-DRB1*15:01,15,TDB,EKPKVEAYKAAAAPA,=,41
167,human,HLA-DRB1*15:01,17,TDB,APEKAKFEAFKAAAAPA,=,34
168,human,HLA-DRB1*15:01,17,TDB,APEKAKFEAYKAAAAPA,=,31
169,human,HLA-DRB1*15:01,17,TDB,APEKAKVEAFKAAAAPA,=,5
170,human,HLA-DRB1*15:01,15,TDB,EAKKYEAYKAAAAAA,=,0
171,human,HLA-DRB1*15:01,15,TDB,EAPKFEAYKAAAAPA,=,13
172,human,HLA-DRB1*15:01,15,TDB,EAPKVEAYKAAAAPA,=,44
173,human,HLA-DRB1*15:01,15,TDB,EAPKFEAFKAAAAPA,=,15
174,human,HLA-DRB1*15:01,17,TDB,APEAKKFEAFKAAAAPA,=,26
175,human,HLA-DRB1*15:01,17,TDB,APEAKKFEAYKAAAAPA,=,14
176,human,HLA-DRB1*15:01,17,TDB,APEAKKVEAFKAAAAPA,=,23
177,human,HLA-DRB1*15:01,15,TDB,ENPVVHFFKNIVTPR,=,15
178,human,HLA-DRB1*15:01,21,TDB,MEVGWYRSPFSRVVHLYRNGK,=,1600
179,human,HLA-DRB1*15:01,21,TDB,MEVGWYRPPFSRVVHLYRNGK,=,13500
180,human,HLA-DRB1*03:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,53
181,human,HLA-DRB1*03:01,20,TDB,KSKKHMIHDIEKMKIKKLKD,=,25
182,human,HLA-DRB1*01:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,0
183,human,HLA-DRB1*04:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,34
184,human,HLA-DRB1*11:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,31
...,...,...,...,...,...,...,...
340894,human,HLA-DRB1*04:03,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,50000
340895,human,HLA-DRB1*04:04,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,74000
340896,human,HLA-DRB1*07:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,35200
340897,human,HLA-DRB1*09:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,6400
340899,human,HLA-DRB1*11:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,88800
340900,human,HLA-DRB1*11:04,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,72100
340901,human,HLA-DRB1*15:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,100000
340904,human,HLA-DRB1*04:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,95100
340905,human,HLA-DRB1*04:03,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,50000
340906,human,HLA-DRB1*04:04,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,74200
340907,human,HLA-DRB1*07:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,55900
340908,human,HLA-DRB1*09:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,11300
340910,human,HLA-DRB1*11:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,100000
340911,human,HLA-DRB1*11:04,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,100000
340914,human,HLA-DRB1*03:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,76800
340915,human,HLA-DRB1*04:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,42100
340916,human,HLA-DRB1*04:03,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,7120
340917,human,HLA-DRB1*04:04,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,11000
340918,human,HLA-DRB1*07:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,62300
340919,human,HLA-DRB1*09:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,8600
340920,human,HLA-DRB1*10:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,11800
340921,human,HLA-DRB1*11:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,52200
340922,human,HLA-DRB1*11:04,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,43200
340923,human,HLA-DRB1*15:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,34000
341700,human,HLA-DQA1*05:01/DQB1*02:01,12,TDB,QLQPFPQPELPY,=,9200
341701,human,HLA-DQA1*05:01/DQB1*02:01,15,TDB,EPRAPWIEQEGPEYW,=,1533
341702,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAAEKEEELR,=,2473
341703,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAAEKVEEFR,=,3833
341704,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAALKEEEYR,=,4600
341705,human,HLA-DQA1*05:01/DQB1*02:01,14,TDB,KPLLIIAEDVEGEY,=,2300

In [15]:
new_df.mhc.value_counts()

HLA-DRB1*01:01                          8459
HLA-DRB1*04:01                          3693
HLA-DRB1*15:01                          3062
HLA-DRB1*03:01                          2986
HLA-DRB1*11:01                          2953
HLA-DRB1*07:01                          2914
HLA-DRB5*01:01                          2601
HLA-DRB1*13:02                          2329
HLA-DRB4*01:01                          2207
HLA-DRB1*08:02                          2186
HLA-DRB1*04:05                          2168
HLA-DRB3*01:01                          2067
HLA-DRB1*09:01                          2053
HLA-DRB1*04:04                          1466
HLA-DQA1*05:01/DQB1*02:01               1275
HLA-DRB1*12:01                          1186
HLA-DQA1*03:01/DQB1*03:02               1176
HLA-DRB3*02:02                          1081
HLA-DQA1*01:02/DQB1*06:02               1022
HLA-DQA1*05:01/DQB1*03:01               1000
HLA-DPA1*01:03/DPB1*04:01                987
HLA-DQA1*01:01/DQB1*05:01                976
HLA-DQA1*04:01/DQB1*04:02                975
HLA-DPA1*02:01/DPB1*05:01                975
HLA-DPA1*02:01/DPB1*01:01                975
HLA-DPA1*03:01/DPB1*04:02                975
HLA-DRA*01:01/DRB1*08:01                 900
HLA-DRA*01:01/DRB1*01:01 C30S mutant     888
HLA-DRA*01:01/DRB1*04:04                 875
HLA-DRA*01:01/DRB1*11:01                 874
                                        ...
HLA-DRB1*01:01 D57V, Y60S mutant          21
HLA-DQ6                                   20
HLA-DRB4*01:03                            18
HLA-DR6                                   17
HLA-DRB1*16:01                            16
HLA-DRB1*04:06                            14
HLA-DRA*01:01/DRB1*15:01                  13
HLA-DRB1*03:05                            13
HLA-DRB1*11:02                            12
HLA-DPw4                                  12
HLA-DR53                                  12
HLA-DRB1*11:03                            12
HLA-DRB1*13:04                            11
HLA-DRB1*13:03                            11
HLA-DR52                                  10
HLA-DQA1*0302/DQB1*0301                    9
HLA-DRB1*08:03                             8
HLA-DQA1*03:02/DQB1*03:03                  6
HLA-DQA1*01:03/DQB1*03:02                  6
HLA-DPw2                                   5
HLA-DQA1*03:01/DQB1*02:01                  4
HLA-DRB1*12:02                             3
HLA-DQ                                     2
HLA-DPB1*02:01 E69K mutant                 2
HLA-DRA*01:01/DRB1*01:01 G86Y mutant       2
HLA-DPA1*02:02/DPB1*05:01                  1
HLA-DQA1*05:05/DQB1*03:01                  1
HLA-DRB1*14:02                             1
HLA-DRA*01:01 F54C mutant/DRB1*01:01       1
HLA-DRB1*13:05                             1
dtype: int64

In [13]:
new_df.peptide_length.value_counts()

15    66350
20     4426
16     2341
17     2254
13     1279
18     1037
21      799
14      708
12      703
11      403
19      365
10      181
24      155
22      137
23      119
9       108
26       86
31       82
25       74
27       69
30       63
32       35
8        32
29       29
34       27
28       20
33       14
35       14
7        11
4         4
63        4
36        3
5         2
41        2
2         2
55        1
37        1
6         1
dtype: int64

In [20]:
def allelename(allele):
    bad_hla_name_elements = [
        "HLA-",
        "-",
        "*",
        ":"
    ]
    for substring in bad_hla_name_elements:
            allele = allele.replace(substring, "")
    return allele

In [22]:
for allele in allele_groups.keys():
    print allelename(allele)

DRB10405
DR8
DRA0101/DRB10401
DRB10401
DQA10501/DQB10201
DR1
DRB10101
DRB10103
DR5
DRB50101
DR7
DR6
DR15
DQA10301/DQB10301
DR11
DR13
DRB11501
DRB11302
DRB11101
DRB10701

In [33]:
from sklearn.linear_model import LogisticRegression
from collections import namedtuple

In [34]:
def load_binding_data(df):
    AlleleData = namedtuple("AlleleData", "Y peptides ic50")
    for allele, group in df.groupby("mhc"):
        bad_hla_name_elements = [
            "HLA-",
            "-",
            "*",
            ":"
        ]
        for substring in bad_hla_name_elements:
            allele = allele.replace(substring, "")
        ic50 = np.array(group["meas"])
        Y = np.maximum(0.0, 1.0 - np.log(ic50) / np.log(50000))
        peptides = list(group["sequence"])

        allele_groups[allele] = AlleleData(
            Y=Y,
            ic50=ic50,
            peptides=peptides)
    return allele_groups, df

In [36]:
allele_groups, df = load_binding_data(new_df)

In [39]:
Y, peptides, ic50 = allele_groups['DRB10101']

In [47]:
np.maximum(2,np.log(0))

2.0

In [48]:
np.log(0)

-inf

In [50]:
new_df.meas.value_counts()

10000.00000      5224
46700.00000      2486
100000.00000     1043
46600.00000       743
1000.00000        430
5000.00000        367
20000.00000       290
2.00000           270
1.00000           254
10.00000          252
5.00000           246
3.00000           240
4.00000           223
1000000.00000     219
11.00000          212
6.00000           211
9.00000           208
13.00000          207
12.00000          205
15.00000          200
7.00000           197
50000.00000       195
8.00000           192
14.00000          166
16.00000          161
100.00000         158
18.00000          155
19.00000          149
20.00000          149
17.00000          147
                 ...
3839.00000          1
8964.00000          1
8961.00000          1
9.26000             1
25341.00000         1
3849.00000          1
25338.00000         1
3851.00000          1
3853.00000          1
3855.00000          1
4348.00000          1
0.08500             1
20833.30000         1
6483.00000          1
427.20000           1
35059.00000         1
3805.00000          1
3806.00000          1
3807.00000          1
36576.00000         1
20193.00000         1
3814.00000          1
3826.00000          1
0.00018             1
8395.00000          1
3818.00000          1
8971.00000          1
3821.00000          1
3822.00000          1
1219.51000          1
dtype: int64