In [1]:
import os
import sys
import pepdata
sys.path.append(os.path.split(os.getcwd())[0])
import pandas as pd
import numpy as np

In [2]:
from pan_allele.helpers.pan_allele_data_helpers import *

Couldn't import dot_parser, loading of dot files will not be possible.

In [11]:
df = pepdata.iedb.mhc.load_dataframe(mhc_class=2, )

In [12]:
list(df.columns)

[(u'Reference', u'MHC ligand ID'),
 (u'Reference', u'Reference ID'),
 (u'Reference', u'Type'),
 (u'Reference', u'PubMed ID'),
 (u'Reference', u'Authors'),
 (u'Reference', u'Journal'),
 (u'Reference', u'Date'),
 (u'Reference', u'Title'),
 (u'Reference', u'Submission ID'),
 (u'Epitope', u'Epitope ID'),
 (u'Epitope', u'Object Type'),
 (u'Epitope', u'Description'),
 (u'Epitope', u'Starting Position'),
 (u'Epitope', u'Ending Position'),
 (u'Epitope', u'Non-peptidic epitope ChEBI ID'),
 (u'Epitope', u'Antigen Name'),
 (u'Epitope', u'Antigen ID'),
 (u'Epitope', u'Organism Name'),
 (u'Epitope', u'Organism ID'),
 (u'Epitope', u'Epitope Comments'),
 (u'Epitope', u'Related Object Type'),
 (u'Host', u'Name'),
 (u'Host', u'Host ID'),
 (u'Host', u'Geolocation'),
 (u'In vivo Process', u'Process Type'),
 (u'In vivo Process', u'Disease State'),
 (u'In vivo Process', u'Disease Code'),
 (u'In vivo Process', u'Disease Stage'),
 (u'In vivo Process', u'Processed Antigen Epitope Relation'),
 (u'In vivo Process', u'Processed Antigen Object Type'),
 (u'In vivo Process', u'Processed Antigen Description'),
 (u'In vivo Process', u'Processed Antigen Ending Position'),
 (u'In vivo Process', u'Non-peptidic Processed Antigen ChEBI ID'),
 (u'In vivo Process', u'Processed Antigen Source Molecule Name'),
 (u'In vivo Process', u'Processed Antigen Source Molecule ID'),
 (u'In vivo Process', u'Processed Antigen Organism Name'),
 (u'In vivo Process', u'Processed Antigen Organism ID'),
 (u'In vitro Process', u'In vitro administration type'),
 (u'In vitro Process', u'Processed Antigen Epitope Relation'),
 (u'In vitro Process', u'Processed Antigen Object Type'),
 (u'In vitro Process', u'Processed Antigen Description'),
 (u'In vitro Process', u'Processed Antigen Starting Position'),
 (u'In vitro Process', u'Processed Antigen Ending Position'),
 (u'In vitro Process', u'Processed Antigen Source Molecule Name'),
 (u'In vitro Process', u'Processed Antigen Source Molecule ID'),
 (u'In vitro Process', u'Processed Antigen Organism Name'),
 (u'In vitro Process', u'Processed Antigen Organism ID'),
 (u'Processed Antigen Comments', u'Processed Antigen Comments'),
 (u'Assay', u'Method/Technique'),
 (u'Assay', u'Assay Group'),
 (u'Assay', u'Units'),
 (u'Assay', u'Assay Type ID'),
 (u'Assay', u'Qualitative Measure'),
 (u'Assay', u'Quantitative measurement'),
 (u'Assay', u'Number of Subjects Tested'),
 (u'Assay', u'Number of Subjects Responded'),
 (u'Assay', u'Response Frequency'),
 (u'Assay', u'3D complex ID'),
 (u'Antigen Processing Cells', u'Cell Tissue Type'),
 (u'Antigen Processing Cells', u'Cell Type'),
 (u'Antigen Processing Cells', u'Cell Culture Conditions'),
 (u'MHC', u'Allele Name'),
 (u'MHC', u'MHC Allele ID'),
 (u'MHC', u'MHC allele class'),
 (u'Assay Comments', u'Assay Comments')]

In [5]:
new_df = pd.DataFrame(columns=('species','mhc','peptide_length','cv','sequence','inequality','meas'))
new_df['peptide_length'] = df.Epitope.Description.str.len()
new_df['mhc'] = df.MHC['Allele Name']
new_df['species'] = "human"
new_df['sequence'] = df.Epitope['Description']
new_df['meas'] = df.Assay['Quantitative measurement']
new_df['cv']="TDB"
new_df['inequality']="="

In [64]:
new_df = new_df.dropna()
new_df

,species,mhc,peptide_length,cv,sequence,inequality,meas
71,human,HLA-DR1,14,TDB,SEFAYGSFVRTVSL,=,4600
72,human,HLA-DR15,14,TDB,SEFAYGSFVRTVSL,=,7100
73,human,HLA-DR11,14,TDB,SEFAYGSFVRTVSL,=,5100
74,human,HLA-DR13,14,TDB,SEFAYGSFVRTVSL,=,2000
75,human,HLA-DR7,14,TDB,SEFAYGSFVRTVSL,=,6100
160,human,HLA-DRB1*15:01,15,TDB,EKAKYEAYKAAAAAA,=,18
161,human,HLA-DRB1*15:01,15,TDB,EKPKYEAYKAAAAPA,=,14
162,human,HLA-DRB1*15:01,15,TDB,EKPKFEAYKAAAAPA,=,26
163,human,HLA-DRB1*15:01,15,TDB,EKAKEEAYKAAAAAA,=,0
164,human,HLA-DRB1*15:01,15,TDB,EKPKEEAFKAAAAPA,=,0
165,human,HLA-DRB1*15:01,15,TDB,EKAKFEAFKAAAAAA,=,19
166,human,HLA-DRB1*15:01,15,TDB,EKPKVEAYKAAAAPA,=,41
167,human,HLA-DRB1*15:01,17,TDB,APEKAKFEAFKAAAAPA,=,34
168,human,HLA-DRB1*15:01,17,TDB,APEKAKFEAYKAAAAPA,=,31
169,human,HLA-DRB1*15:01,17,TDB,APEKAKVEAFKAAAAPA,=,5
170,human,HLA-DRB1*15:01,15,TDB,EAKKYEAYKAAAAAA,=,0
171,human,HLA-DRB1*15:01,15,TDB,EAPKFEAYKAAAAPA,=,13
172,human,HLA-DRB1*15:01,15,TDB,EAPKVEAYKAAAAPA,=,44
173,human,HLA-DRB1*15:01,15,TDB,EAPKFEAFKAAAAPA,=,15
174,human,HLA-DRB1*15:01,17,TDB,APEAKKFEAFKAAAAPA,=,26
175,human,HLA-DRB1*15:01,17,TDB,APEAKKFEAYKAAAAPA,=,14
176,human,HLA-DRB1*15:01,17,TDB,APEAKKVEAFKAAAAPA,=,23
177,human,HLA-DRB1*15:01,15,TDB,ENPVVHFFKNIVTPR,=,15
178,human,HLA-DRB1*15:01,21,TDB,MEVGWYRSPFSRVVHLYRNGK,=,1600
179,human,HLA-DRB1*15:01,21,TDB,MEVGWYRPPFSRVVHLYRNGK,=,13500
180,human,HLA-DRB1*03:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,53
181,human,HLA-DRB1*03:01,20,TDB,KSKKHMIHDIEKMKIKKLKD,=,25
182,human,HLA-DRB1*01:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,0
183,human,HLA-DRB1*04:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,34
184,human,HLA-DRB1*11:01,20,TDB,KSKKHMDLDGEMMMAKKLKD,=,31
...,...,...,...,...,...,...,...
340894,human,HLA-DRB1*04:03,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,50000
340895,human,HLA-DRB1*04:04,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,74000
340896,human,HLA-DRB1*07:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,35200
340897,human,HLA-DRB1*09:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,6400
340899,human,HLA-DRB1*11:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,88800
340900,human,HLA-DRB1*11:04,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,72100
340901,human,HLA-DRB1*15:01,20,TDB,DPWFAHRTPMPKIQNVSSSD,=,100000
340904,human,HLA-DRB1*04:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,95100
340905,human,HLA-DRB1*04:03,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,50000
340906,human,HLA-DRB1*04:04,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,74200
340907,human,HLA-DRB1*07:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,55900
340908,human,HLA-DRB1*09:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,11300
340910,human,HLA-DRB1*11:01,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,100000
340911,human,HLA-DRB1*11:04,20,TDB,DPWFAHGTPMPKIQNVSSSD,=,100000
340914,human,HLA-DRB1*03:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,76800
340915,human,HLA-DRB1*04:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,42100
340916,human,HLA-DRB1*04:03,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,7120
340917,human,HLA-DRB1*04:04,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,11000
340918,human,HLA-DRB1*07:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,62300
340919,human,HLA-DRB1*09:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,8600
340920,human,HLA-DRB1*10:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,11800
340921,human,HLA-DRB1*11:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,52200
340922,human,HLA-DRB1*11:04,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,43200
340923,human,HLA-DRB1*15:01,20,TDB,LFLLSTRQNVEGSYDGAYAP,=,34000
341700,human,HLA-DQA1*05:01/DQB1*02:01,12,TDB,QLQPFPQPELPY,=,9200
341701,human,HLA-DQA1*05:01/DQB1*02:01,15,TDB,EPRAPWIEQEGPEYW,=,1533
341702,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAAEKEEELR,=,2473
341703,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAAEKVEEFR,=,3833
341704,human,HLA-DQA1*05:01/DQB1*02:01,10,TDB,FAALKEEEYR,=,4600
341705,human,HLA-DQA1*05:01/DQB1*02:01,14,TDB,KPLLIIAEDVEGEY,=,2300

In [81]:
new_df.to_csv('bdata.classii.2015.csv', sep='\t', nanRep=None, index=False)

In [83]:
allele_groups, df = load_binding_data('bdata.classii.2015.csv')

In [9]:
new_df.mhc.value_counts()

HLA-DRB1*01:01                          10303
HLA-DRB1*04:01                           5736
HLA-DRB1*03:01                           4094
HLA-DRB1*11:01                           3953
HLA-DRB1*15:01                           3842
HLA-DRB1*07:01                           3783
HLA-DRB5*01:01                           3040
HLA-DRB1*13:02                           2534
HLA-DRB1*04:05                           2461
HLA-DRB4*01:01                           2410
HLA-DRB1*08:02                           2365
HLA-DRB1*09:01                           2290
HLA-DRB3*01:01                           2222
HLA-DRB1*04:04                           1859
HLA-DQA1*05:01/DQB1*02:01                1670
HLA-DRA*01:01/DRB1*08:01                 1386
HLA-DRB1*12:01                           1294
HLA-DQA1*03:01/DQB1*03:02                1278
HLA-DR1                                  1143
HLA-DQA1*01:02/DQB1*06:02                1112
HLA-DRB3*02:02                           1098
HLA-DQA1*01:01/DQB1*05:01                1014
HLA-DQA1*05:01/DQB1*03:01                1009
HLA-DPA1*01:03/DPB1*04:01                 990
HLA-DPA1*02:01/DPB1*01:01                 983
HLA-DQA1*04:01/DQB1*04:02                 979
HLA-DPA1*03:01/DPB1*04:02                 975
HLA-DPA1*02:01/DPB1*05:01                 975
HLA-DR                                    959
HLA-DRA*01:01/DRB1*03:01                  938
                                        ...
HLA-DR52                                   15
HLA-DPw4                                   12
HLA-DRB1*13:04                             12
HLA-DQ                                     12
HLA-DQA1*05:05/DQB1*03:01                  10
HLA-DQA1*03:02/DQB1*03:03                  10
HLA-DRB1*04:07                             10
HLA-DP                                     10
HLA-DQA1*03:01/DQB1*02:01                   9
HLA-DRB1*08:03                              8
HLA-DPA1*02:02/DPB1*05:01                   7
HLA-DQA1*01:03/DQB1*03:02                   6
HLA-DQB1*03:19                              6
HLA-DQA1*03:01/DQB1*04:01                   5
HLA-DQA1*01:03/DQB1*06:01                   4
HLA-DRB1*04:11                              4
HLA-DRB1*08:04                              3
HLA-DRA*01:01 F54C mutant/DRB1*01:01        3
HLA-DQ1                                     3
HLA-DQB1*06:04                              3
HLA-DRA*01:01/DRB1*01:01 G86Y mutant        3
HLA-DQB1*06:03                              2
HLA-DPB1*11:01                              2
HLA-DPB1*02:01 E69K mutant                  2
HLA-DQ5                                     1
HLA-DQ9                                     1
HLA-DR12                                    1
HLA-DRB1*03:04                              1
HLA-DQA1*01:01/DQB1*05:03                   1
HLA-DRB1*13:05                              1
dtype: int64

In [7]:
new_df.peptide_length.value_counts()

15    73709
20     7612
16     3553
17     3203
13     3128
14     2288
18     1633
12     1320
21     1077
11      919
19      858
9       543
10      510
22      292
24      290
23      280
26      242
25      196
31      175
27      139
30      134
29       96
32       70
28       64
8        62
33       42
35       40
34       35
7        22
36       18
5        13
6        10
41        7
37        7
4         4
63        4
38        3
43        3
46        3
2         3
39        2
40        2
42        2
45        2
48        2
55        2
57        2
80        1
58        1
44        1
49        1
3         1
dtype: int64

In [15]:
df['Reference']['Date'].value_counts()

2010    19701
2014    15196
2009    12414
2012    10775
2011     6192
2015     5855
2013     5798
2005     4172
2006     2708
2008     2651
2007     2431
2000     1823
1996     1728
1998     1604
2002     1443
1999     1394
2003      937
2004      935
1994      834
1993      814
1991      757
1995      742
2001      611
1997      561
1992      440
1990       80
1989       29
1988        1
dtype: int64